header {
  background-color: #ffffff;
}

body {
  background-color: #C4C4C4;
}

p.card__title {
  color: #282828;
  font-size: 14px;
}

p.card__description {
  color: #282828;
  font-size: 12px;
}

.card {
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card__img-top {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  width: 288px;
  height: 182px;
}

ul {
  /* -webkit-justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  /* display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column; */
  /* height: 200px; */
}

li {
  width: 30%;
  /* 100%を1行当たりのカラム数（今回は3）で割った数値 */
  /* border: 1px solid black; */
  /* 飾り */
  margin: 10px;
  /* widthの計算簡単にするため（marginも使うための拡張は後で） */
}

footer {
  background-color: #ffffff;
}